*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: 100%;
    /* background: url(image/bg.png); */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(bg.png);

}


.pump{
    height: 100px;
    width: 100px;
    background: url(Symbolp.png);
    border: none;
    height: 40vh;
    width: 40vh;
    
   

}




.demo{
    height: 60vh;
    width: 60vh;
}
.alpha{
    margin-bottom: 5%;
    position: absolute;
    padding-right:6%;
    
}
